<html>
  <head>
    <title>Demo SocketIo</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
      var socket = io("http://localhost:3000/");

      $(document).ready(function () {
        
        $("#mrA").click(function () {
            socket.emit('Client-send-data', 'hi')
        });
      });
    </script>
  </head>

  <body>
    <div id="mrA">click</div>
    <div id="text">click</div>
  </body>
</html>
