<html>
    <head>
        <title>Demo SocketIo</title>
    <script src="/server/public/Jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io('http://localhost:3000/')
    </script>
    </head>

    <body>
        
    </body>
</html>