<html>

<head>
  <title>Demo Socket.io</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/scripts/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/layout.css" />
</head>

<body>
  <div id="warpper">
    <div class="loginForm">
      <div class="roomForm">
        <input type="text" id="txtRoomInput">
        <input type="button" value="Create/Join Room" id="btnCreateRoom">
      </div>
    </div>
    
    <div class="chatForm">
      <div id="left">
        <div id="boxTittle">Rooms:</div>
        <div id="boxContent">
        </div>
      </div>
      <div id="right">
        <div class="roomId">Room <span id="currentRoom">null</span>
        </div>
        <div id="sayHi">
          Hello <span id="currentUser">Vu</span>
          <input id="btnLogout" value="Log Out" type="button" />
        </div>
        <div id="listMessages">
          <div id="noti"></div>
        </div>
        <input type="input" id="txtMessages" />
        <input type="button" value="Send" id="btnSubmit" />
      </div>
    </div>
  </div>
</body>

</html>