<html>
<head>
  <title>Demo SocketIo</title>
  <script src="/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/server/public/layout/layout.css">
</head>
<body>
  hi
</body>
</html>
